* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

.main{
    display: flex;
}

.header {
    background: #191718;
    width: 32%;
    text-align: center;
    
}

.nav{
    padding-top: 5px;
    position: fixed;
    overflow: auto;
}

li{
    display: block;
    border-style: solid;
    border-color: #191718 #191718 gray #191718;
    padding: 15px;
}

a{
    color: white;
    text-decoration: none;
}

.logo-content {
    padding-left: 7rem;
    display: flex;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 25px;
}

.logo{
    width: 30%;
}

.group1{
    padding-left: 7rem;
    text-align: center;
    background: #EFEFEF;
    padding-block: 15px;
    margin-left: 7rem;
    margin-right: 15px;
}

.text-group1{
    padding-top: 10px;
    margin-left: 190px;
    margin-right: 200px;
}

.group{
    padding-left: 7rem;
    display: flex;
    padding-block: 15px;
    padding-top: 20px;
    padding-bottom: 20rem;
}

.img-content{
    width: 40%;
}

.text-content{
    display: flex;
    padding-top: 10px;
}

.group2, .group3{
    margin-right: 59px;
}

.footer{
    border-style: solid;
    border-color: gray white white;
    padding: 15px;

}

.text-footer{
    padding-left: 6rem;
}